input {
  width: 300px;
}

.little-legend {
  position: absolute;
  top: 7rem;
  width: 40rem;
  height: auto;
  transform: translate(10%);

  @media (max-width: 1199px) {
    left: 24rem;
    width: 30rem;
  }
}

.cancel-button {
  position: absolute;
  margin-top: 2rem;
  left: 12rem;
}

.growing-line {
  background-color: rgb(105, 105, 105);
  height: 1px;
  width: 0px;
  margin-bottom: 2rem;
}
