<div
  [@slideUpAnimation]
  (@slideUpAnimation.done)="onAnimationDone($event)"
  class="container mt-5 d-flex gap-5 before-animation-style align-items-center"
  id="create-player"
>
  <div>
    <h5>Create a new profile.</h5>
    <div [@expandingLine]="expandLine" class="growing-line"></div>
    <form
      (ngSubmit)="onSubmit(playerForm)"
      #playerForm="ngForm"
      class="d-grid gap-3 col-sm-4"
    >
      <div class="d-grid gap-3 col-sm-4">
        <input
          class="form-control"
          type="text"
          id="name"
          name="name"
          ngModel
          placeholder="Name"
          required
        />
        <input
          required
          pattern="[a-zA-Z]+"
          class="form-control"
          type="text"
          id="league"
          name="league"
          ngModel
          placeholder="League"
        />
        <input
          type="number"
          min="1"
          max="5"
          maxlength="1"
          pattern="^[0-9]+$"
          class="form-control"
          type="text"
          id="tier"
          name="tier"
          ngModel
          placeholder="Tier"
          required
        />
        <input
          type="number"
          min="0"
          max="99"
          maxlength="2"
          pattern="^[0-9]+$"
          class="form-control"
          type="text"
          id="lp"
          name="lp"
          ngModel
          placeholder="LP"
          required
        />
      </div>
      <p *ngIf="invalidForm" class="m-0 p-0 text-danger">Form is invalid!</p>

      <button
        class="btn btn-primary mt-2 hidden"
        type="submit"
        [disabled]="playerForm.invalid"
      >
        Submit
      </button>
    </form>
    <div [@buttonAppearAnimation] *ngIf="animationDone" class="cancel-button">
      <button
        [routerLink]="['/welcome']"
        class="btn border-danger rounded-5 text-danger"
      >
        X
      </button>
    </div>
  </div>
  <div
    [@pinguAnimation]
    *ngIf="animationDone"
    class="container pt-5 d-none d-sm-none d-lg-block d-xl-block d-xxl-block"
  >
    <img
      src="../../../assets/little_legend.png"
      class="img-fluid little-legend"
      alt=""
    />
  </div>
</div>

<!-- <div
  class="shadow position-absolute top-50 start-50 translate-middle rounded-4"
></div> -->
<div class="position-absolute top-50 start-50 translate-middle">
  <router-outlet></router-outlet>
</div>
