<div
  [@slideUpAnimation]
  (@slideUpAnimation.done)="onAnimationDone($event)"
  class="container mt-5 d-flex gap-5 before-animation-style align-items-center"
  id="create-player"
>
  <div>
    <h5>Create a new profile.</h5>
    <div [@expandingLine]="expandLine" class="growing-line"></div>
    <form
      (ngSubmit)="onSubmit(playerForm)"
      #playerForm="ngForm"
      class="d-grid gap-3 col-sm-4"
    >
      <div class="d-grid gap-3 col-sm-4">
        <input type="text" id="name" name="name" ngModel placeholder="Name" />
        <input
          type="text"
          id="league"
          name="league"
          ngModel
          placeholder="League"
        />
        <input type="text" id="tier" name="tier" ngModel placeholder="Tier" />
        <input type="text" id="lp" name="lp" ngModel placeholder="LP" />
      </div>
      <button class="btn btn-primary mt-2 hidden" type="submit">Submit</button>
    </form>
    <div [@buttonAppearAnimation] *ngIf="animationDone" class="cancel-button">
      <button
        [routerLink]="['/welcome']"
        class="btn border-danger rounded-5 text-danger"
      >
        X
      </button>
    </div>
  </div>
  <div
    [@pinguAnimation]
    *ngIf="animationDone"
    class="container pt-5 d-none d-sm-none d-lg-block d-xl-block d-xxl-block"
  >
    <img
      src="../../../assets/little_legend.png"
      class="img-fluid little-legend"
      alt=""
    />
  </div>
</div>
