.player-card {
  width: 500px;
  background-size: cover;
  background-position: center;
  background-color: white;
}

.tftlogo {
  margin-top: 7rem;
  opacity: 0.8;
}

span {
  font-weight: 700;
  /* text-transform: capitalize; */
}

.player-confirm-button:hover {
  background-color: rgba(0, 168, 173, 0.11);
}
