<div class="home-page">
  <app-player-profile *ngIf="loggedIn"></app-player-profile>
  <div class="container p-5 border rounded-4 background-opaque">
    <div [@fadeInOut]>
      <router-outlet></router-outlet>
    </div>
  </div>
  <div class="position-absolute d-flex flex-column gap-3">
    <a [routerLink]="['/new']" class="btn btn-primary">NEW</a>
    <a [routerLink]="['/load']" class="btn btn-primary">LOAD</a>
    <a [routerLink]="['/dashboard']" class="btn btn-primary">DASHBOARD</a>
    <a [routerLink]="['/']" class="btn btn-primary">HOME</a>
  </div>
</div>
