<div *ngIf="debugMode" class="position-absolute d-flex flex-column gap-3">
  <a [routerLink]="['/new']" class="btn btn-primary">NEW</a>
  <a [routerLink]="['/load']" class="btn btn-primary">LOAD</a>
  <a [routerLink]="['/dashboard']" class="btn btn-primary">DASHBOARD</a>
  <a [routerLink]="['/']" class="btn btn-primary">HOME</a>
  <a (click)="onGetData()" class="btn btn-primary">GET ALL DATA</a>
  <a (click)="onPushData()" class="btn btn-primary">PUSH TEST DATA</a>
  <a (click)="onGetActiveProfile()" class="btn btn-primary"
    >GET ACTIVE PROFILE</a
  >
  <a (click)="onLogout()" class="btn btn-primary">LOGOUT USER</a>
  <a (click)="onTestUser()" class="btn btn-primary">LOG TEST USER</a>
</div>
