<div class="row mt-5">
  <button
    [@hideButtons]="routerOutletState"
    (click)="navigateToLink('/new')"
    class="btn mx-5 button-home-menu col card-open shadow-sm"
  >
    <i class="bi bi-person-plus-fill h1" style="color: black"></i>
    <p class="">Create Player</p>
  </button>

  <button
    [@hideButtons]="routerOutletState"
    (click)="navigateToLink('/load')"
    class="btn mx-5 button-home-menu col card-open shadow-sm"
  >
    <i class="bi bi-person-fill-down h1" style="color: black"></i>
    <p>Load Player</p>
  </button>
</div>

<div class="container">
  <router-outlet></router-outlet>
</div>
