<h5 class="position-absolute mt-5">Load profile</h5>
<div class="row">
  <input type="text" placeholder="search" class="mx-5 mb-5 col" />
</div>
<div [@slideUpAnimation]>
  <div class="profiles-container">
    <div class="d-flex justify-content-center">
      <div class="border p-4 shadow">
        <h5>Erza</h5>
        <hr />
        <div class="row">
          <div class="d-flex gap-5">
            <p class="card-text">
              <i class="bi bi-mouse text-primary"></i> 12 matches
            </p>
            <p class="card-text">
              <i class="bi bi-grid-3x2-gap text-primary"></i> 3 comps
            </p>
            <p class="card-text">
              <i class="bi bi-trophy text-primary"></i> 10 wins
            </p>
            <p class="card-text">
              <i class="bi bi-x-circle text-primary"></i> 2 losses
            </p>
          </div>
          <button class="btn btn-primary border rounded-3 mt-4">
            Use this profile
          </button>
        </div>
      </div>
    </div>

    <div class="d-flex justify-content-center">
      <div class="border p-4 shadow">
        <h5>Erza</h5>
        <hr />
        <div class="row">
          <div class="d-flex gap-5">
            <p class="card-text">
              <i class="bi bi-mouse text-primary"></i> 12 matches
            </p>
            <p class="card-text">
              <i class="bi bi-grid-3x2-gap text-primary"></i> 3 comps
            </p>
            <p class="card-text">
              <i class="bi bi-trophy text-primary"></i> 10 wins
            </p>
            <p class="card-text">
              <i class="bi bi-x-circle text-primary"></i> 2 losses
            </p>
          </div>
          <button class="btn btn-primary border rounded-3 mt-4">
            Use this profile
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="d-flex justify-content-center">
  <button
    [routerLink]="['/welcome']"
    class="btn border-danger text-danger rounded-5 mt-4"
  >
    X
  </button>
</div>
