<div class="shadow rounded-4"></div>
<div
  class="position-absolute top-50 start-50 translate-middle bg-white p-5 rounded"
  style="width: 60rem"
>
  <div class="container">
    <form class="form" #compForm="ngForm">
      <h3>Create match.</h3>
      <div class="d-flex gap-3 align-items-center" ngModelGroup="existingComp">
        <label for="compName">Comp Name</label>
        <select
          class="form-select"
          id="compName"
          style="width: 20rem"
          name="compName"
          ngModel
          [disabled]="newComp"
        >
          <option selected>Use existing comp</option>
          <option
            selected
            *ngFor="let comp of loadedComps"
            value="{{ comp.compName }}"
          >
            {{ comp.compName }} | Tier: {{ comp.tier }} | W: {{ comp.wins }}
          </option>
        </select>
        <button class="btn btn-primary" type="button" (click)="toggleNewComp()">
          Add new comp
        </button>
        <div class="form-check form-switch">
          <input
            class="form-check-input"
            type="checkbox"
            id="flexSwitchCheckDefault"
            [disabled]="newComp"
            ngModel
            name="win"
          />
          <label class="form-check-label" for="flexSwitchCheckDefault"
            >Win</label
          >
        </div>
        <div class="mx-4 d-flex gap-2 align-items-center">
          <label for="lp">LP</label>
          <input
            class="form-control"
            [ngStyle]="{ width: '4rem' }"
            id="lp"
            type="number"
            ngModel
            name="lp"
            [disabled]="newComp"
          />
        </div>
      </div>

      <!-- ///////// -->
      <!--  NEW COMP -->
      <!-- ///////// -->

      <div *ngIf="newComp" ngModelGroup="newComp">
        <label class="mt-5 h5">New Comp:</label>

        <div
          class="d-flex gap-3 align-items-center p-2"
          [ngClass]="{
            'border border-2 rounded-4 border-danger':
              compForm.invalid && compForm.touched
          }"
        >
          <div class="form-check form-switch">
            <input
              class="form-check-input"
              type="checkbox"
              id="newCompWinOrLose"
              ngModel
              name="win"
            />
            <label class="form-check-label" for="flexSwitchCheckDefault"
              >Win</label
            >
          </div>

          <div class="d-flex gap-2 align-items-center px-5">
            <label for="compName">Tier</label>
            <select
              class="form-select"
              id="tier"
              name="tier"
              ngModel
              required=""
            >
              <option value="S">S</option>
              <option value="A">A</option>
              <option value="B">B</option>
            </select>
          </div>
          <div class="mx-4 d-flex gap-2 align-items-center">
            <label for="lp">LP</label>
            <input
              class="form-control"
              [ngStyle]="{ width: '4rem' }"
              id="lp"
              type="number"
              name="lp"
              ngModel
              required=""
            />
          </div>
          <p *ngIf="compForm.invalid && compForm.touched" class="text-danger">
            Requiered!
          </p>
        </div>
        <input
          type="text"
          class="form-control"
          placeholder="Comp Name"
          ngModel
          name="newCompName"
        />
        <div
          class="form-group d-flex gap-3 my-1"
          formGroup="newComp"
          ngModelGroup="champions"
        >
          <input
            type="text"
            class="form-control"
            placeholder="Champion 1"
            name="champ1"
            ngModel
          />
          <input
            type="text"
            class="form-control"
            placeholder="Champion 2"
            name="champ2"
            ngModel
          />
          <input
            type="text"
            class="form-control"
            placeholder="Champion 3"
            name="champ3"
            ngModel
          />
          <input
            type="text"
            class="form-control"
            placeholder="Champion 4"
            name="champ4"
            ngModel
          />
        </div>

        <!-- //////////// -->
        <!--  More Fields -->
        <!-- //////////// -->

        <button
          *ngIf="!moreFields"
          class="btn btn-primary"
          (click)="addMoreFields()"
        >
          More fields...
        </button>
        <div
          *ngIf="moreFields"
          class="hidden form-group d-flex gap-3 my-1"
          ngModelGroup="extraChampions"
        >
          <input
            type="text"
            class="form-control"
            placeholder="Champion 5"
            name="champ5"
            ngModel
          />
          <input
            type="text"
            class="form-control"
            placeholder="Champion 6"
            name="champ6"
            ngModel
          />
          <input
            type="text"
            class="form-control"
            placeholder="Champion 7"
            name="champ7"
            ngModel
          />
          <input
            type="text"
            class="form-control"
            placeholder="Champion 8"
            name="champ8"
            ngModel
          />
          <input
            type="text"
            class="form-control"
            placeholder="Champion 9"
            name="champ9"
            ngModel
          />
        </div>
      </div>
      <div class="d-flex gap-5 my-3 justify-content-center mt-5">
        <button class="btn btn-danger" (click)="onCloseWindow()">Cancel</button>
        <button
          class="btn btn-success"
          [disabled]="compForm.invalid"
          (click)="
            newComp ? submitMatchWithNewComp(compForm) : submitMatch(compForm)
          "
        >
          Submit
        </button>
      </div>
    </form>
  </div>
</div>
